nav {
  display: inline-grid;
  grid-template: auto auto auto auto auto auto auto;
  grid-gap:0px;
  width: 1100px;
  length: 10px;
  background-image: url(img/header_bg.png);
}
nav.li{

}
.banner{
  background-image: url(img/banner_bg.png);
  background-repeat: repeat-x;
  height: 600px;
  color: white;
}
div.page{
  width: 1100px;
  align: center;
}
div {
  align-self: center;
}
body {
  font-family: 'Lato', sans-serif;
  margin:
}
#bannerImg{
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}
.navbarLinks {
  display: inline
}
h1 {
  font-size: 26px;
  line-height: 30px;
}
h2 {
  font-size: 20px;
  line-height: 22px;
}
p {
  font-size: 14px;
  line-height: 20px;
}
